.image-slider {
  position:relative;
  display: inline-block;
  line-height: 0;
}
.image-slider img {
  user-select: none;
  /*max-width: 800px;
  max-height: 400px;*/
}
.image-slider > div {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 25px;
  max-width: 100%;
  overflow: hidden;
  resize: horizontal;
}
.image-slider > div:before {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  position: absolute;
  resize: horizontal;
  right: 3px; bottom: 3px;
  background-clip: content-box;
  background: linear-gradient(-45deg, black 50%, transparent 0);
  -webkit-filter: drop-shadow(0 0 2px black);
  filter: drop-shadow(0 0 2px black);
}
