.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.cache

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Users Environment Variables
.lock-wscript

*.sublime*
.idea

compare/bower_components/**/.*

/backstop_data/bitmaps_test/
/backstop_data/html_report/
compare/config.js
capture/config.json
