.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.cache

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
yarn.lock

# Users Environment Variables
.lock-wscript

*.sublime*
.idea

compare/bower_components/**/.*
examples/**/html_report/

html_report
bitmaps_test
compare/config.js
capture/config.json

compare/output/bitmaps_reference/

compare/output/bitmaps_test/

compare/output/config\.js

\.vscode/
/compare/output/index_bundle.js
